.container {
    max-width: 800px;
    margin: 0 auto;
  }
  
  table {
    text-align: left;
  }
  
  img {
    border-radius: 4px;
  }
  
  .linha {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }